html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  padding: 2rem;
}

.container {
  max-width: 50em;
  margin: 0 auto;
}

.CodeMirror {
  height: 12em;
}

.output {
  display: block;
  background: #f9f9f9;
  padding: 1rem;
  overflow-x: auto;
}

pre.output {
  white-space: pre-wrap;
}

fieldset legend {
  font-weight: bold;
  padding: 0 .5rem;
}

.examples > a {
  display: inline-block;
  margin: 0 .5rem;
  font-weight: bold;
}

.examples > a.active {
  text-decoration: none;
  color: inherit;
}

form.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
}

td, th {
  text-align: left;
  border: 1px solid #ccc;
  padding: .5rem;
}

@media screen and (min-width: 960px) {
  form {
    display: flex;
  }

  form > fieldset {
    flex: 1;
    border-style: solid;
  }

  .output {
  }
}
